ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.left {
  flex: 1;
  text-align: center;
}

.branding {
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
}

.middle {
  width: 35%;
  display: flex;
  align-items: flex-start;
}

.right {
  flex: 1;
}

.itemContainer {
  width: 100%;
  margin-left: auto;
  position: relative;
}

.items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.items li {
  font-size: 20px;
  margin-right: 70px;
}

.cart {
  display: block;
  width: 90px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 775px) {
  body {
    overflow-x: hidden;
  }

  .left {
    width: 50%;
  }

  .branding {
    font-size: 25px;
  }

  .itemContainer {
    background-color: #2f3542;
    position: absolute;
    top: 8.8%;
    left: 0%;
    z-index: 999;
    bottom: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all ease-in-out 300ms;
  }

  .itemContainer.active {
    transform: translateX(0);
  }

  .items {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .items li {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .mobile {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mobile span {
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    border-radius: 2px;
    transition: all ease-in-out 400ms;
  }

  .mobile span:nth-child(1) {
    top: 10%;
    position: absolute;
  }

  .mobile span:last-child {
    position: absolute;
    bottom: 10%;
  }

  .toggleB {
    transform: translateX(-40%);
  }

  .toggle {
    transform: translateX(40%);
  }

  .searcBox {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .branding {
    width: 90vw !important;
    font-size: 25px;
    letter-spacing: 2px;
  }
}
